@keyframes push
{
   0% { transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes transform-lightspeed-in
{
   0% { transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
.CustomStyle
{
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   --color: #2E74B5;
   background-color: transparent;
   About;
}
