*{font-family: "Baloo Tamma";}


div#container
{
   width: 900px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: "Baloo Tamma";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 0px 10px #191970;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 0 344px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
.DropdownMenu2 .nav
{
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #FF7F50;
   text-align: right;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu2 .nav:before,
.DropdownMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .nav:after 
{
   clear: both;
}
.DropdownMenu2 .nav a 
{
   text-decoration: none;
}
.DropdownMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu2 .container:before,
.DropdownMenu2 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .container:after 
{
   clear: both;
}
.DropdownMenu2 .collapse 
{
   display: none;
}
.DropdownMenu2 .collapse.show 
{
   display: block;
}
.DropdownMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu2 .caret, .DropdownMenu2 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu2 .dropdown 
{
   position: relative;
}
.DropdownMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu2 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.DropdownMenu2 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FF7F50;
   white-space: nowrap;
}
.DropdownMenu2 .dropdown-menu>li>a:hover,
.DropdownMenu2 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: rgba(237,237,237,0.00);
   background-image: none;
}
.DropdownMenu2 .dropdown-menu>li>a.active,
.DropdownMenu2 .dropdown-menu>li>a.active:hover,
.DropdownMenu2 .dropdown-menu>li>a.active:focus
{
   color: #FFFFFF;
   background-color: rgba(237,237,237,0.00);
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu2 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu2 .show>a 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu2 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu2 .dropdown.show .dropdown-menu
{
   animation-name: DropdownMenu2-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
@keyframes DropdownMenu2-animation
{
   0%
   {
      opacity: 0;
      transform: translateX(10px);
   }
   100%
   {
      opacity: 1;
      transform: translateX(0);
   }
}
.DropdownMenu2 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu2 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu2 .nav .show>a,
.DropdownMenu2 .nav .show>a:hover,
.DropdownMenu2 .nav .show>a:focus 
{
    border-color: #FFFFFF;
}
.DropdownMenu2 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.DropdownMenu2 .nav .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2
{
   position: relative;
}
.DropdownMenu2:before,
.DropdownMenu2:after
{
   content: " ";
   display: table;
}
.DropdownMenu2:after
{
   clear: both;
}
.DropdownMenu2 .navbar-header:before,
.DropdownMenu2 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu2 .navbar-header:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu2-navbar-collapse:before,
.DropdownMenu2-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu2-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu2 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu2 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu2 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #FF7F50;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   background-color: rgba(237,237,237,0.00);
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: rgba(237,237,237,0.00);
   background-image: none;
}
.DropdownMenu2 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu2 .navbar-toggle:hover,
.DropdownMenu2 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu2 .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.DropdownMenu2-navbar-collapse
{
   border-color: rgba(255,255,255,0.00);
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: rgba(237,237,237,0.00);
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FF7F50;
   border-bottom-color: #FF7F50;
}
.DropdownMenu2 .navbar-link
{
   color: #FF7F50;
}
.DropdownMenu2 .navbar-link:hover
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 768px) 
{
.DropdownMenu2 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu2 .navbar-header
{
   float: left;
}
.DropdownMenu2-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu2-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle
{
   display: none;
}
.DropdownMenu2 .navbar-nav 
{
   float: right;
   margin: 0;
}
.DropdownMenu2 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu2 .container>.navbar-header,
.DropdownMenu2 .container>.DropdownMenu2-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FF7F50;
   border-bottom-color: #FF7F50;
}
}
@media (max-width: 768px) 
{
.DropdownMenu2 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.DropdownMenu2 .navbar-nav
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu2 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu2 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   color: #FF7F50;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #FF7F50;
   background-color: transparent;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FF7F50;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FF7F50;
   border-bottom-color: #FF7F50;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > li > a.active > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FF7F50;
   border-bottom-color: #FF7F50;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FF7F50;
   border-bottom-color: #FF7F50;
}
.DropdownMenu2 .navbar-link
{
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu2 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_DropdownMenu2
{
   z-index: 1111 !important;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #000000;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon3
{
   height: 27px;
   width: 57px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 27px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon3:hover #FontAwesomeIcon3 i
{
   color: #191970;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 112px 0 0 0 ;
}
#wb_Carousel1
{
   height: 532px;
}
#Carousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   transition: opacity 500ms ease-in-out;
   height: 100%;
   text-align: left;
}
#Carousel1 .carousel-item-inner
{
   padding: 0 0 50px 0;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .active
{
   animation: Carousel1-animation-show 188ms ease 63ms both;
   transform-origin: 0% 50%;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-inner > .carousel-item-next.carousel-item-start, #Carousel1 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   animation: Carousel1-animation-show 188ms ease 63ms both;
   transform-origin: 0% 50%;
}
#Carousel1 .carousel-inner > .active.carousel-item-start, #Carousel1 .carousel-inner > .active.carousel-item-end
{
   animation: Carousel1-animation-hide 250ms ease both;
   transform-origin: 100% 50%;
}
#Carousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -63px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#Carousel1 .carousel-indicators li
{
   display: block;
   float: left;
   margin: 6px 6px 6px 6px;
   width: 29px;
   height: 3px;
   cursor: pointer;
   text-indent: -999px;
   background-color: #E5E5E5;
   background-clip: padding-box;
   box-sizing: content-box;
   border-bottom: 27px solid transparent;
}
#Carousel1 .carousel-indicators .active
{
   background-color: #FFFFFF;
}
#Carousel1 .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 15%;
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s ease;
   cursor: pointer;
   z-index: 7776;
}
#Carousel1 .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#Carousel1.carousel-control .carousel-control-prev-icon, #Carousel1 .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   z-index: 5;
}
#Carousel1 .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 0;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#Carousel1 .frame
{
   width: 900px;
   display: inline-block;
   float: left;
   height: 644px;
}
#Carousel1 .carousel-control-next, #Carousel1 .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0;
   transition: opacity 0.3s ease;
}
#Carousel1 .carousel-control-next-icon, #Carousel1 .carousel-control-prev-icon
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#Carousel1 .carousel-control-next:hover, #Carousel1 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 0;
}
#Carousel1 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M63%2016%20L39%2040%20L63%2064%20C63%2064%2c%2063%2065%2c%2063%2066%20C63%2067%2c%2063%2067%2c%2063%2068%20L55%2075%20C55%2076%2c%2054%2076%2c%2053%2076%20C52%2076%2c%2052%2076%2c%2051%2075%20L18%2042%20C17%2042%2c%2017%2041%2c%2017%2040%20C17%2039%2c%2017%2039%2c%2018%2038%20L51%205%20C52%204%2c%2052%204%2c%2053%204%20C54%204%2c%2055%204%2c%2055%205%20L63%2012%20C63%2013%2c%2063%2014%2c%2063%2014%20C63%2015%2c%2063%2016%2c%2063%2016%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M63%2042%20L30%2075%20C29%2076%2c%2028%2076%2c%2028%2076%20C27%2076%2c%2026%2076%2c%2026%2075%20L18%2068%20C18%2067%2c%2017%2067%2c%2017%2066%20C17%2065%2c%2018%2064%2c%2018%2064%20L42%2040%20L18%2016%20C18%2016%2c%2017%2015%2c%2017%2014%20C17%2014%2c%2018%2013%2c%2018%2012%20L26%205%20C26%204%2c%2027%204%2c%2028%204%20C28%204%2c%2029%204%2c%2030%205%20L63%2038%20C63%2039%2c%2064%2039%2c%2064%2040%20C64%2041%2c%2063%2042%2c%2063%2042%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('images/24ed9392232693.5e45b4885aef5.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('images/1659690822209.jpeg.jpg');
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url('images/coding-job.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
}
@keyframes Carousel1-animation-show
{
   0%   { opacity: 0; transform: rotateY(90deg); }
   100% { }
}
@keyframes Carousel1-animation-hide
{
   0%   { }
   100% { opacity: 0; transform: rotateY(-90deg); }
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_layoutGridInfo3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0 0 -99px 0 ;
}
#layoutGridInfo3
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#layoutGridInfo3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutGridInfo3 > .row > .col-1, #layoutGridInfo3 > .row > .col-2, #layoutGridInfo3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutGridInfo3 > .row > .col-1, #layoutGridInfo3 > .row > .col-2, #layoutGridInfo3 > .row > .col-3
{
   float: left;
}
#layoutGridInfo3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridInfo3 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#layoutGridInfo3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridInfo3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridInfo3:before,
#layoutGridInfo3:after,
#layoutGridInfo3 .row:before,
#layoutGridInfo3 .row:after
{
   display: table;
   content: " ";
}
#layoutGridInfo3:after,
#layoutGridInfo3 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#layoutGridInfo3 > .row > .col-1, #layoutGridInfo3 > .row > .col-2, #layoutGridInfo3 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_about_ 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_about_ div
{
   text-align: center;
}
#wb_about_
{
   display: block;
   margin: 10px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 120px 0 0 0 ;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_services 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_services div
{
   text-align: center;
}
#wb_services
{
   display: block;
   margin: 10px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#FlexGrid2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
}
#FlexGrid2-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   font-size: 0;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto auto auto auto;
   grid-template-areas:
      "section1 section1 section2 section2 section3 section3"
      "section1 section1 section2 section2 section3 section3"
      "section5 section6 section7 section7 section7 section7"
      "section4 section4 section7 section7 section7 section7"
      "section4 section4 section7 section7 section7 section7"
      "section4 section4 section7 section7 section7 section7";
}
#FlexGrid2 .section1
{
   display: flex;
   grid-area: section1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid2 .section2
{
   display: flex;
   grid-area: section2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid2 .section3
{
   display: flex;
   grid-area: section3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid2 .section5
{
   display: flex;
   grid-area: section5;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .section6
{
   display: flex;
   grid-area: section6;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid2 .section7
{
   display: flex;
   grid-area: section7;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid2 .section4
{
   display: flex;
   grid-area: section4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
}
#wb_Image5
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image7
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image8
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: contain;
}
#wb_Image11
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   animation: push 1000ms ease-out 6ms infinite normal both;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image28
{
   margin: 0;
   vertical-align: top;
}
#Image28
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Line2
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 15px 0 15px 0 ;
   padding: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 15px 0 ;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #4F4F4F;
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text7 div
{
   text-align: justify;
}
#wb_Text7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#FlexGrid3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0 0 50px 0 ;
   padding: 0;
}
#FlexGrid3-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   font-size: 0;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto auto auto;
   grid-template-areas:
      "section1 section1 section2 section2 section3 section3"
      "section1 section1 section2 section2 section3 section3"
      "section5 section4 section4 section4 section3 section3"
      "section6 section4 section4 section4 section8 section8"
      "section7 section4 section4 section4 section8 section8";
}
#FlexGrid3 .section1
{
   display: flex;
   grid-area: section1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
}
#FlexGrid3 .section2
{
   display: flex;
   grid-area: section2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
}
#FlexGrid3 .section3
{
   display: flex;
   grid-area: section3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
}
#FlexGrid3 .section5
{
   display: flex;
   grid-area: section5;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid3 .section4
{
   display: flex;
   grid-area: section4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid3 .section6
{
   display: flex;
   grid-area: section6;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid3 .section8
{
   display: flex;
   grid-area: section8;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid3 .section7
{
   display: flex;
   grid-area: section7;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Image15
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image16
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image18
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image17
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: contain;
}
#wb_Image6
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image10
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#upStickyLayer
{
   background-color: #4F4F4F;
   background-image: none;
   border-radius: 50%;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #EC9C29;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(24,25,26,0.00);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 50px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 10px 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 25px 0 25px 0;
   margin: 0;
   text-align: center;
}
#wb_Text16 div
{
   text-align: center;
}
#wb_Text16
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Shape3
{
   width: 111px;
   height: 6px;
   background-color: #428BCA;
   background-image: none;
   border: 0px #428BCA solid;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #18191A;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#Button1
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-radius: 20px;
   background-color: #FFFFFF;
   background-image: none;
   color: #18191A;
   font-family: "Baloo Tamma";
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 15px 0 0 0 ;
}
}
#Button1:focus
{
   outline: 0;
}
#wb_Icon1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon1
{
   height: 32px;
   width: 32px;
}
#Icon1 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #428BCA;
}
#wb_FontAwesomeIcon8
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#FontAwesomeIcon8
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon8 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_FontAwesomeIcon8:hover #FontAwesomeIcon8 i
{
   color: #428BCA;
}
#wb_FontAwesomeIcon10
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#FontAwesomeIcon10
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon10 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_FontAwesomeIcon10:hover #FontAwesomeIcon10 i
{
   color: #428BCA;
}
#Editbox2
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color: #FFFFFF;
   font-family: "Baloo Tamma";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   margin: 0 0 10px 0 ;
   text-align: left;
   padding: 8px 8px 8px 10px;
}
#Editbox2:focus
{
   outline: 0;
}
#Editbox3
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color: #FFFFFF;
   font-family: "Baloo Tamma";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   margin: 0 0 10px 0 ;
   text-align: left;
   padding: 8px 8px 8px 10px;
}
#Editbox3:focus
{
   outline: 0;
}
#Editbox1
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #18191A;
   background-image: none;
   color: #FFFFFF;
   font-family: "Baloo Tamma";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   margin: 0 0 10px 0 ;
   text-align: left;
   padding: 8px 8px 8px 10px;
}
#Editbox1:focus
{
   outline: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_FontAwesomeIcon2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#FontAwesomeIcon2
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon2 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_FontAwesomeIcon2:hover #FontAwesomeIcon2 i
{
   color: #428BCA;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 1px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image3
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: contain;
}
#wb_Image4
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: contain;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape1
{
   filter: drop-shadow(3px -3px 6px rgba(0,0,0,0.20));
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
